.article-single {
	margin : {
		bottom: 50px;
	}

	.article-img {
		height: 500px;
		width: 100%;
	}

	.section-img {
		height: auto;
		width: 100%;
	}

	.content {
		.table-of-contents {
			ul {
				li {
					a {
						font-size: 18px;
					}
				}
			}
		}
		section {
			padding : {
				left: 4em;
				right: 4em;
			};
			h2 {
				color: #333;
			}
			p {
				text-align: justify;
				color: #686868;
			}
			.section-img {
				height: 200px;
			}
		}
	}
}